<ul class="flex flex-col gap-3">
    <% @events.each do |event|%>
    <li>
        <strong>
            <%=event.name%>
            </strong> in <%= event.location%>: <%= price(event)%>
            <% if event.description != nil %> 
                <p>
                    <%= event.description%>
                </p>
            <%end%>
            <%if event.starts_at != nil %>
             <p>
                    <%= event_time(event) %>
                </p>
            <%end%>
            </li>

    <% end %>
</ul>